body{
    background-color: darkred;
    margin: 0;
}
ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 150px;
     background-color: green;
     position: absolute;
     height: 1009%;
     overflow: auto;
}
li a{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    display: block;
    color: crimson;
    
    font-size: 30px;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: crimson;
    color: crimson;
}
.img1{
    padding: 20px;
    position: absolute;
    bottom: 2in;
    right: 1.5in;  
}
.ding{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 19px;
    padding-right: 50px;
    font-size: 16px;
    left:-3.43in;
    padding: 10px;
}
button{
    border-radius: 12px;
    color:green;
    background-color: darkred;
}
button:hover{
    color:purple;
    font-size: 18px;
    transition: ease-out 0.5s;
}
.sub{
    position: absolute;
    top: 6.5in;
    left: 3in;;
    
}
#c1{
    background-color: black;
    color: red;
    height: 5in;
}
.card:hover{
    size: 40px;
}
cc
                <tr>
                    <p>HD available</p>
                    
                    <td>4k+ HDR available</td>
                </tr>
               </table>
               <table style="position: absolute; right: 20px;  color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                     <tr>
                           <th>Basic <br> <span style="font: bold;">$7.99</span></th>
                               <th>Standard <br> <span style="font: bold;">$11.99</span></th>
                               <th>Premium <br> <span style="font: bold;">$13.99</span></th>
                                   </tr>
                             <tr>
                                <td></td>
                             <td>Maria Anders</td>
                              <td>Germany</td>
                              </tr>
                           <tr>
                             <td>Centro comercial Moctezuma</td>
                           <td>Francisco Chang</td>
                            <td>Mexico</td>
                          </tr>
                          </table>
              